<header class="main-header">
  <nav>
    <ul>
      <li><a href="../Tela Home/index.html">V I K I N G S <br> BEERHOUSE </a></li>
      <li><a href="../sobrenós/sobrenos.html">SOBRE</a></li>
      <li><a href="../Tela de Vitrine/index.html">PRODUTOS</a></li>
      <li><a href="../Tela de Perfil/">MINHA CONTA</a></li>
      <li><a href="#"><img src="imagens\t.png" alt="VIKINGS BEERHOUSE" width="100px"></a></li>
      <li><a href="#">
          <form><input type="search" placeholder="Pesquisar"></form>
        </a></li>

      <li><a href="../Tela Login/index.html">
         <img src="/images/Logo do Login.png" alt="Minha Conta" width="20">
            <p>Faça <br>Seu <br>Login</p>
          
        </a>
      </li>
      <li><a href="../Tela de Carrinho/index.html">
          <img src="/images/Shopping Cart.png" alt="Meus Pedidos" width="20">
            <p>Meus <br> Pedidos</p>
          
        </a>
      </li>
    </ul>
  </nav>
</header>
